.games_list .tabs-icon-top ion-tab {
    display: none;
}

.games_list .tabs-icon-top .item.item-custom.tab-item {
    opacity: 0.2;
}

.games_list .tabs-icon-top .tab-item-active {
    font-weight: bold;
    opacity: 1 !important;
}

.games_list ion-tabs .item.item-custom.tab-item {
    padding: 2px 0 0 0;
    border: 0;
}

.games_list .card {
    box-shadow: none;
}

.games_list .cover_image img {
    width: 100%;
    display: block;
}

.games_list .list {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.center{
     text-align:center;
}